button{
    cursor: pointer;
}


.img-prod{
    width: 4.5rem;
    height: 6rem;
}

@media screen and (max-width: 480px){
    .img-prod{
        display: none;
    }
    tr{
        display: flex;
        flex-wrap: no-wrap;
    }

}