.container{
    display: flex;
    flex-direction: column;
}
.product-detail-container__detail{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem;
    align-items: baseline;
    justify-content: space-evenly;
}
.product-detail-container__detail img{
    height: 20rem;
    width: 20rem;
}
