.footer-container{ 
    width: 100%;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--just-white);
    box-shadow: 2px 0px 19px -2px rgba(0,0,0,0.52)inset;
}
h5, a{
    color: var(--just-black);
    letter-spacing: 1px;
    font-family:var(--mulish-font);
    
  
}

@media  screen and (max-width:480px){
    .footer-container{
        width: 102%;
    }
    
}